@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    padding: 24px 16px 24px 16px;
    background-color: #f2eae2;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.image-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.text-container {
    h1 {
        font-family: "Montserrat", system-ui;
        font-weight: 500;
        font-size: clamp(12px, 4vw, 16px);
        color: #6c7289;
        margin: 1.5rem;
        width: 100%;
    }
    h2 {
        margin: 24px;
        font-family: "Fraunces", serif;
        font-weight: bold;
        font-size: clamp(32px, 4vw, 44px);
        color: #1c232b;
    }
    p {
        margin: 24px;
        color: #6c7289;
        font-size: clamp(14px, 4vw, 20px);
        font-family: "Montserrat", sans-serif;
        line-height: 32px;
    }
}

.all-information-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.price-container {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    h1 {
        font-family: "Fraunces", serif;
        font-weight: bold;
        font-size: clamp(32px, 4vw, 44px);
        color: #3d8167;
        margin: 24px;
    }
    h2 {
        font-family: "Montserrat", sans-serif;
        color: #6c7289;
        font-weight: 500;
        font-size: clamp(13px, 4vw, 20px);
        text-decoration: line-through;
    }
}

    .add-to-cart {
    background-color: #3d8167;
    color: #fff;
    padding: 16px;
    border-style: none;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(16px, 4vw, 20px);
    font-weight: bold;
    box-sizing: border-box;
    margin: 24px;
    width: 86%;
    img {
        margin-right: 12px;
    }

    .cart-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}

.attribution {
    text-align: center;
    padding: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    background-color: #333;
    color: white;
    a {
        color: #4da6ff;
    }
}

button.add-to-cart:hover {
    background-color: #1a4032;
}

@media screen and (min-width: 500px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .image-container {
        border-top-right-radius: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .image-container img {
        content: url('./images/image-product-desktop.jpg');
    }

    .price-container {
        h1 {
            margin-left: 32px;
        }
    }
    .add-to-cart {
        padding: 24px;
    }
    .add-to-cart img {
        transform: scale(1.5);
        margin-right: 16px;
    }
    button.add-to-cart {
        margin: 32px;
    }
    main {
        height: auto;
    }
    .text-container {
        h1 {
            margin: 32px;
            font-size: 16px;
        }
        h2 {
            margin: 32px;
        }
        p {
            margin: 32px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .image-container {
        border-top-right-radius: 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .image-container img {
        content: url('./images/image-product-desktop.jpg');
    }

    .price-container {
        h1 {
            margin-left: 50px;
            font-size: 64px;
        }
        h2 {
            font-size: 32px;
        }
    }
    .add-to-cart {
        padding: 30px;
    }
    .add-to-cart img {
        transform: scale(2.5);
        margin-right: 30px;
    }
    button.add-to-cart {
        margin: 50px;
        font-size: 44px;
        border-radius: 16px;
    }
    main {
        height: auto;
    }
    .text-container {
        h1 {
            margin: 32px;
            font-size: 30px;
        }
        h2 {
            margin: 32px;
            font-size: 64px;
        }
        p {
            margin: 32px;
            font-size: 44px;
            line-height: 60px;
        }
    }
}